<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/SBC1074</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<mapping resource="mapeos/Actividad.hbm.xml" />
		<mapping resource="mapeos/Fase.hbm.xml" />
		<mapping resource="mapeos/FaseHasActividad.hbm.xml" />
		<mapping resource="mapeos/GrupoActividad.hbm.xml" />
		<mapping resource="mapeos/Proceso.hbm.xml" />
		<mapping resource="mapeos/Producto.hbm.xml" />
	</session-factory>
</hibernate-configuration>
